.metricResult {
  border-radius: 1.5rem;
  background-color: var(--primary-blue);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #ffffff;
}
.emptyResult {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
